body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    height: 600px;
    width: 400px;
    background-color: rgb(167, 159, 159);
    border-radius: 6px;
    align-items: center;
    flex-direction: column;
}
#input{
    height: 120px;
    font-size: 60px;
    width: 360px;
    margin: 20px;
    border-radius: 12px;
    direction:rtl;
    pointer-events: none;
}
.deli_mnozi{
    margin: 20px;
    width: 90%;
    height: 100px;
    display: flex;
    gap: 10px;
}
.deli_mnozi>button{
    width: 50%;
    height: 80%;
    font-size: 50px;
}
.flex_row{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 90%;
    
}
.numbers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    
}

.numbers>button{
    height: 64.391px;
    width: 88px;
    margin: 1px;
    font-size: 26px;
    font-weight: 700;
}
#zero{
    width: 268px;
}
.ostanati_operacii{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.ostanati_operacii>button{
    margin: 1px;
    width: 80px;
    height: 33%;
    font-size: 36px;
}